/* finding user’s location, track user’s location as he moves from one place to another, stop tracking user’s location. */
 */
h1 {
  text-align: center;
  color:black;
  font-size: 40px; 
  animation:alternate;
  font-family:Arial, Helvetica, sans-serif;
}
p{
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  
}

#mapCanvas {
  border: 2px solid #1800f1;
  border-radius: 20px;
  margin: 10px auto;
	width:1000px;

}


button {
  background-color:cornflowerblue;
  color:black;
  padding: 15px 30px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;

}
.container{
  text-align: center;
}

button:hover {
  background-color: yellow;
border-radius:90px;
}